# Student Name: Robert George Owoo
# Index Number: 10022300108

.venv/
__pycache__/
*.pyc
.DS_Store

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

indexes/feedback.json

logs/*
!logs/.gitkeep

.streamlit/
.env
.claude/
